<%= form_tag password_resets_path, :method => :post do %>
  <div class="col-xs-6"><%= text_field_tag :email, "", class:"form-control", placeholder: "メールアドレスを入力" %></div>
  <%= submit_tag "リセットメール送信", class: "btn btn-default"  %>
<% end %>