<div class="container">
<div class="row">
  <%= form_tag(add_synonym_relation_path(:id => 1), method: "get") do %>
  	<fieldset>
  	  <%= text_field_tag(:srchSyn, "", autofocus:true) %>
  	  <%= submit_tag("検索", class:"btn btn-primary") %>
  	  <input type="button" value="close" class="pull-right" onclick="window.close();">
  	</fieldset>
  <% end %>
</div>

<div class="row">
  <% if !@relations.nil? %>
    <table class="table results">
    <thead>
    <tr>
      <th></th>
      <th>類義語分類名</th>
      <th>単語</th>
      <th>品詞</th>
      <th>意味</th>
    </tr>
    </thead>
    <%= render partial: 'relations/relations', locals: {relations: @relations} %>
    </table>
  <% end %>
</div>
</div>
<script type="text/javascript">
  function setSynValue(rel_id, type, word, pos, meaning) {
  	if (!window.opener || window.opener.closed) {
  	  window.close();
  	} else {
  	  var pWindow = window.opener;
  	  pWindow.$("input[id='syn_relid']").val(rel_id);
  	  pWindow.$("input[id='syn_type']").val(type);
  	  pWindow.$("input[id='syn_word']").val(word);
  	  pWindow.$("input[id='syn_pos']").val(pos);
  	  pWindow.$("input[id='syn_meaning']").val(meaning);
  	  window.close();
  	}
  }
</script>
