<% css_class = page.current? ? "pure-button pure-button-disabled" : "pure-button button-secondary" %>

<li class="pure-u-3-24 pure-u-sm-1-24">
  <%= link_to page, url, {:class => css_class, :remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
</li>
