<div class="container">
  <h3>例文：<%= params[:exp] %></h3>
  <input type="button" value="close" onclick="window.close()" class="pull-right btn btn-default">
  <table class="table results">
  <tr>
  	<th>日本語</th>
  	<th>アラビア語</th>
  </tr>
  <% @examples.each do |example| %>
  <tr>
  	<td><%= example.sentence_ja %></td>
  	<td><%= example.sentence_ar %></td>
  </tr>
  <% end %>
  </table>
</div>