<h1>例文を追加する：<%= params[:exp] %></h1>
<div class="container">
<% if logged_in? %>
  <%= render partial: 'examples/example_form', locals: {example: @example} %>
<% else %>
  例文を追加をするときはログインしてください。
<% end %>
</div>