@import "bootstrap-sprockets";
@import "bootstrap";
@import "purecss";

header a {
  text-decoration: none !important;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
/*  max-width: 768px;*/
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#headlogo {
  float: left;
  margin-right: 10px;
  /*font-size: 1.7em;*/
  color: #fff;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#highlight {
  color: #ff6347;
  font-weight: normal !important;
}

.kakutei {
  margin-top: 1em;
}

.breadcrumb {
  background:transparent;
}

.breadcrumb li+li:before {
  content:'»';
}

.fix_table {
  width: 100%;
}

.tbl_space {
  margin-top: 0.5em;
}

.button-success, .button-error, .button-warning, .button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}