@import "purecss";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

p {
  margin: 0 0 10px;
}

legend {
  font-size: 21px;
}

dd {
  margin-left: 0;
}

dt {
  font-weight: 700;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
/*  max-width: 768px;*/
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.pagenation {
  width: 100%;
  padding-inline-start: 0;
  padding-left: 0;
}

#highlight {
  color: #ff6347;
  font-weight: normal !important;
}

.kakutei {
  margin-top: 1em;
  margin-bottom: 1em;
}

#milaaha_head {
  background: #d7f3f3;
}

#milaaha-icon {
  width: 7em;
}

.breadcrumb {
  background:transparent;
  list-style-type: none;
}

.breadcrumb li {
  padding-left: 0;
}

.breadcrumb li+li:before {
  content:'»';
}

.breadcrumb a, .breadcrumb span {
  margin: 0 0.5em;
}

.fix_table {
  width: 100%;
}

.tbl_space {
  margin-top: 0.5em;
}

.button-success, .button-error, .button-warning, .button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* ホームボタン アイコン */
.browser.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 1px currentColor;
}

.browser.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 11px;
  height: 11px;
  border-radius: 85% 15%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border: solid 1px currentColor;
}

.browser.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  width: 15px;
  height: 1px;
  background-color: currentColor;
}
