@import "bootstrap-sprockets";
@import "bootstrap";
@import 'purecss';

header a {
  text-decoration: none !important;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
/*  max-width: 768px;*/
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#headlogo {
  float: left;
  margin-right: 10px;
  /*font-size: 1.7em;*/
  color: #fff;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#highlight {
  color: #ff6347;
  font-weight: normal !important;
}

.kakutei {
  margin-top: 1em;
}

.breadcrumb {
  background:transparent;
}

.breadcrumb li+li:before {
  content:'»';
}
