@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#headlogo {
  float: left;
  margin-right: 10px;
  /*font-size: 1.7em;*/
  color: #fff;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#highlight {
  color: #ff6347;
  font-weight: normal !important;
}

.kakutei {
  margin-top: 1em;
}

.breadcrumb {
  background:transparent;
}

.breadcrumb li+li:before {
  content:'»';
}

#commonhead {
  margin-bottom: 0.5em !important;
}

@media screen and (max-width: 420px) {

  #srch_result {
    display: block;
  }
  #srch_result thead {
    display: none;
  }
  #srch_result tbody {
    display: block;
  }
  #srch_result tbody tr {
    display: block;
    margin-bottom: 1.5em;
  }
  #srch_result tbody th,
  #srch_result tbody td {
    display: list-item;
    border: none;
  }
  #srch_result tbody th {
    margin-bottom: 5px;
    list-style-type: none;
    color: #fff;
    background: #000;
  }
  #srch_result tbody td {
    margin-left: 20px;
    padding: 0;
  }
}
