@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#headlogo {
  float: left;
  margin-right: 10px;
  /*font-size: 1.7em;*/
  color: #fff;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#highlight {
  color: #ff6347;
  font-weight: normal !important;
}