// Place all the styles related to the relations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#syn_detail{
  margin-top: 1em;
}

#setsyn {
  margin-top: 1.5em;
  border-top: 1px ridge #D8D8D8;
}
