// Place all the styles related to the relations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#syn_detail{
  margin-top: 1em;
}

#setsyn {
  margin-top: 1.5em;
  border-top: 1px ridge #D8D8D8;
}

.invisible{
	display: none;
}
 
a.clickToolTip{
	margin: 0;
	padding: 2px 6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-decoration: none;
	color: #fff;
	background-color: green;
	font-size: 12px;
}
 
ul.toolTip{
	margin: 0;
	padding: 10px;
	width: 250px;
	background-color: #000;
	opacity: 0.6;
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	min-height: 30px;
	top: 100px;
	left: 20px;
	position: absolute;
}